# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from api_keys import g_key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
output_data_file = "../output_data/cities.csv"
# output_data_file

types_df = pd.read_csv(output_data_file)

types_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
gmaps.configure(api_key=g_key)

In [11]:
locations = types_df[["Lat", "Lng"]]
# locations

humidity = types_df["Humidity"].astype(float)

# humidity

# figure_layout = {
#     'width' : '1000px',
#     'height':'400px',
#     'border':'1px solid black',
#     'padding':'1px',
#     'margin':'0 auto 0 auto'
# }

# fig = gmaps.figure(layout=figure_layout)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal

new_types_df = pd.DataFrame(types_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_types_df["Max Temp"] <= 80) & (new_types_df["Max Temp"] > 70)
wind_speed = new_types_df["Wind Speed"] < 10
cloudiness = new_types_df["Cloudiness"] == 0

# new_types_df[max_temp & wind_speed & cloudiness]
new_types_df[max_temp & wind_speed & cloudiness]

             City  Max Temp  Wind Speed  Cloudiness
7           opuwo     72.06        5.44           0
70   ponta do sol     73.68        5.32           0
88       cidreira     76.56        5.50           0
138     morondava     79.08        9.06           0
139         vaini     78.90        1.59           0
176         nador     75.20        6.93           0
297         mogok     72.24        2.77           0
444       birjand     71.60        9.17           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df = pd.DataFrame(types_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
# hotel_df["Coordinates"]=""
hotel_df.head()

        City Country    Lat     Lng Hotel Name
0  ostrovnoy      RU  68.05   39.51
1  mahebourg      MU -20.41   57.70
2    qaanaaq      GL  77.48  -69.36
3     zhuhai      CN  40.71  112.04
4  cape town      ZA -33.93   18.42

In [14]:
# coordinates_lat_lng = []

# target_city = hotel_df["City"]
# # target_city

# target_type = "hotel"

# hotel_df["Coordinates"] = hotel_df["Lat"] + "," + hotel_df["Lng"]

# radius = 5000

# params = {
#     "location:" : coordinates_lat_lng,
#     "types" : target_type,
#     "radius" : radius, 
#     "key" : g_key
# }

# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# print("A HOTEL WITHIN A 5000 METER RADIUS")

# response = requests.get(base_url, params)
# # print(response.url)

# hotel_distance = response.json()
# print(json.dumps(hotel_distance, indent=4, sort_keys=True))

target_coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [15]:
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# params = {
#     "location": (hotel_df["Lat"], hotel_df["Lng"]),
#     "rankby": "distance",
#     "type" : "hotel", 
#     "key" : g_key
# }

# # params
pprint(response.json(), depth=1)

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [16]:
hotel_df.iloc[0][0]

'ostrovnoy'

In [17]:
#creates a list to capture hotel_names to insert into dataframe
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [18]:
hotel_name

[nan,
 'Shandrani Beachcomber Resort & Spa',
 'Qaanaaq Hotel',
 nan,
 'Atlanticview Cape Town Boutique Hotel',
 'Hôtel Hiva Oa Hanakee Lodge',
 'Lakeview Hotel Motel',
 'Opuwo Country Lodge',
 nan,
 'У лукоморья',
 'Hotel Astoria',
 'Enjoy Chiloé. Hotel De La Isla',
 'The Edgewater Resort and Spa',
 nan,
 'Hotel Gobernador',
 'Renaissance Albany Hotel',
 'Gostinitsa "Mariya"',
 'Los Cauquenes Resort & Spa',
 'Laguna Beach Hotel & Spa',
 'Отель Купеческий',
 'Milky Resort',
 'Busselton Ithaca Motel',
 'Domaine de Rochevilaine',
 'Salinas do Maragogi All Inclusive Resort',
 nan,
 'โรงแรมกันตังปาร์ค(Kantang Park Hotel)',
 "AMAAN'S HOUSE",
 'Hotel Ilaia',
 "Pension Maro'i",
 'The Woodbridge',
 'Goba Lodge',
 'Shangri-La Hotel Qingdao',
 'Quarter Deck Inn',
 nan,
 nan,
 'Long House Hotel Bethel',
 'AmericInn by Wyndham, Fulton Clinton',
 'Huset ved havet',
 nan,
 nan,
 'The Marine Hermanus',
 "Best Western Plus St. John's Airport Hotel and Suites",
 'The Explorer Hotel',
 nan,
 'Hotel Solymar Galapagos',
 'Hotel Terciopelo',
 nan,
 nan,
 'The Halyards Hotel',
 nan,
 nan,
 'Patagonia Hotel',
 'دفتردستک محمدسیاه',
 'Waldorf Astoria Los Cabos Pedregal',
 'Le Rocher de Tahiti',
 nan,
 'Embassy Beach',
 nan,
 'Milk Factory',
 'Garuda Hotel Bontang',
 'Ramada Plaza by Wyndham Sault Ste. Marie Ojibway',
 nan,
 'Burntwood Hotel',
 "Munitsipal'naya Gostinitsa",
 'Hotel Kap Farvel',
 'Profilaktoriy Baes',
 nan,
 nan,
 'BejaParque Hotel',
 'Hotel La Fuente',
 'Camaleao Hostel',
 nan,
 nan,
 'Oceanaire Resort Hotel',
 nan,
 nan,
 'Plaza Hotel',
 'Provintsiya',
 'Hotel Ristorante Lido degli Scogli',
 'Hotel Peace Palace, Baglung, Nepal',
 'Raglan Harbour View Hotel',
 'Jamestown Hotel',
 'Sur Grand Hotel',
 nan,
 'Emerald Star Hotel',
 'Peppers Seaport Launceston',
 'Tourist House - Sablino',
 'Hotel National',
 'Hotel Castelo',
 nan,
 'PRO LINK HOTEL',
 'Santa Ines Bella Vista Hotel',
 'Qionghai Hotel',
 'Best Western Plus Delta Inn & Suites',
 'Park Inn by Radisson, Najran',
 nan,
 "Ellie's Villa",
 nan,
 'Baza Otdykha "Raukhova Mel\'nitsa"',
 nan,
 'Swiss-Belhotel Sorong',
 'Rosemount Inn & Spa',
 'The Gilmore Hotel',
 'Sheraton Kauai Coconut Beach Resort',
 nan,
 'Lincheng Hotel',
 'Hilo Hawaiian Hotel',
 'Best Western Gold Rush Inn',
 'Bonthe Holiday Village',
 nan,
 'Hilton Garden Inn Lompoc',
 'Sinclairs Bayview Port Blair',
 'Bredasdorp Country Manor',
 nan,
 'Le Monitel',
 'Four Seasons Resort Bora Bora',
 'Keochinda hotel',
 'Premier Hotels & Resorts',
 'Hotel Xaguate',
 nan,
 'Hotel Internacional',
 nan,
 'Sorriso Thermae Resort & SPA',
 'Diamond Hotel',
 'Hotel Reinares',
 'Orlanova Hotel',
 'Villa Howden',
 'Sundog Inn',
 nan,
 'Hotel Marina Del Bay',
 'Hotel El Puerto',
 'Gostinitsa "Uyut"',
 'The Wendover Nugget Hotel & Casino',
 'Hôtel TAKIALT',
 'Hotel Castagneto',
 'Kibungo - Centre St. Joseph Guest House',
 'Accommodations By The Sea',
 nan,
 'Palissandre Cote Ouest resort & SPA',
 'Dandeli Dreams',
 'Guyana Marriott Hotel Georgetown',
 nan,
 'Tube well mirza rehan',
 'Huayan Boutique Hotel',
 'Quality Inn',
 'WAM Hotel Patagónico',
 nan,
 'Hotel Alameda',
 'Golden Rays hotel',
 'Ganzhou Gandian Hotel',
 'Talnakh Hotel',
 nan,
 "L'oiseau de Paradis",
 'Ilha Morena',
 "Claudine's Guesthouse",
 'Snowhotel Kirkenes',
 'Hotel Narsaq',
 "Phil & Ann's Sunset Motel",
 'TRAT CITY HOTEL',
 'Four Points by Sheraton Manado',
 'Hotel San Michele',
 'Pousada Kactus',
 nan,
 'Parkside Inn',
 'Hyatt Regency Kathmandu',
 'Heritage Hotel',
 'Holiday Inn Express & Suites Brainerd-Baxter',
 '玉门宾馆',
 'Jægtvolden Fjordhotell',
 'Vila Baleira Resort',
 nan,
 nan,
 'Hotel Belle Vue',
 'Nusa Island Retreat',
 'Zabalanquira Hotel De Montaña',
 'Naujaaraaluit – Clyde River Hotel',
 'Hotel Marchica Lagoon Resort, Nador Morocco',
 'Hotel Keflavik',
 nan,
 nan,
 'Club Med Les Boucaniers',
 'Hotel Angmagssalik',
 nan,
 'The Royal Grand Hotel suite',
 'Beach Hotel Burnie',
 nan,
 nan,
 nan,
 'Pestana Palm Gardens',
 'Bluff Hotel',
 'Comfort Inn',
 'Polar Capital',
 'The Esplanade Hotel',
 'Abuharee Grand',
 nan,
 'Coraki Hotel',
 'Hotel Arctic',
 'Enjoy Coquimbo Hotel de la Bahía',
 'Mauricia Beachcomber Resort & Spa',
 'KAABONG RESORT HOTEL',
 'Hotel Rincon Campestre',
 'Hotel Continental Luanda',
 'Hotel Patagonia',
 'Namatanai Hotel',
 'Kak Doma',
 nan,
 nan,
 nan,
 nan,
 'Yeet Hotel',
 'Quinta Das Buganvílias',
 nan,
 'The Old Mount Gambier Gaol',
 'Posada el portal de la Loma',
 'Barkly Hotel',
 'Les Deux Vélos Cycle Lodge',
 'Hotel Grand Chancellor Hobart',
 'Clontarf Castle Hotel',
 'Al Baleed Resort Salalah by Anantara',
 nan,
 nan,
 'Marawi Resort Hotel',
 'LA QUINTA PRIMAVERA',
 nan,
 nan,
 'Lord Carnarvon Guesthouse',
 'Hotel ibis budget Paris Porte de Montmartre',
 'Bahman Hotel',
 'Hotel Los Pinares',
 nan,
 'Best Western Plus Lake Front Hotel',
 'ROYAL STAR GUEST HOUSE',
 'Sheraton Hamilton Hotel',
 'Selina Maderas',
 nan,
 'RedDoorz @ Cisaga',
 nan,
 'Hotel Dela Inn',
 'La Civetta',
 'Manzhouli Shangri-La Hotel',
 'Commercial Hotel',
 'Chukotka hotel',
 'REER XOOSHLE GROUP',
 'Mandry',
 '3G hotel pasni',
 "Smitty's Bed and Breakfast",
 'Empire Hotel',
 'Posada Real Puerto Escondido',
 'Panamericana Hotel Ancud',
 'ነጋ ቦንገር ሆቴል Nega Bonger Hotel',
 'Port Lincoln Hotel',
 nan,
 'Karolineburg Manor House Hotel',
 'Adelaide Road Motor Lodge',
 'Casa Rodo 53',
 nan,
 'Brasiléia Palace Hotel',
 'Hotel du Parc',
 'Te Anau Lakeview Kiwi Holiday Park & Motels',
 'Hami Hotel',
 'Pahrump Nugget',
 'Copper River Inn',
 'Mayfair Hotel',
 'Hotel Soyuz',
 'Iloha Seaview Hotel',
 'Jalu Hotel',
 'DoubleTree by Hilton Hotel Alice Springs',
 'Hotel Roraima Suites',
 nan,
 'Turtle Nest Inn',
 'Victoria Hotel',
 'Hotel Dreams de la Patagonia',
 'Apart Hotel Rio Xingu',
 'Hotel Mercure Santa Rosa La Pampa',
 'Samuels Hotel',
 'Hotel Iparana Paradise',
 'Pedras do Mar Resort & SPA',
 'Kinwica',
 'Royal Amazonia',
 nan,
 'Quinta Las Mercedes',
 'Inn Inubosaki hotel of superb view',
 'Lakeview Inns & Suites - Slave Lake',
 'BreakFree on Cashel Christchurch',
 nan,
 'LÜDERITZ NEST HOTEL',
 "Trishcia's Guest House",
 'Auyuittuq Lodge (Inns North)',
 nan,
 'Robin Hood Village Resort',
 'Hotel Viktoria',
 'Hotel Florida',
 'Club Mahindra Madikeri Resort In Coorg',
 'Bentley 24hr Room Accommodation',
 'Protea Hotel by Marriott Takoradi Select',
 'Gostinitsa Lyuks',
 nan,
 'Mount Mogok Hotel',
 'Hotel Uusikuu',
 'Jiuquan Hotel',
 nan,
 nan,
 'Taloa Heights',
 'Desert Gardens Hotel - Ayers Rock Resort',
 'Ooo "Kvarkeno"',
 'Hotel Concha do Mar',
 nan,
 'Distinction Dunedin Hotel',
 nan,
 'Café de Upernavik',
 nan,
 'Nebitchi Hotel',
 'Gostinitsa "Polar"',
 'Remstroyrekonstruktsiya',
 'Orgin Hotel',
 'Hotel Yanuba, Miraflores',
 'Nemasu Ecolodge',
 'Wajiima Onsen Yashio',
 nan,
 'Pousada Gargalheiras',
 'HOTEL CASCADES PALACE',
 'Granada Hotel Mandera',
 'Hotel Paradis',
 'Alaskan Hotel',
 'Holiday Inn Express & Suites Sidney',
 nan,
 'Bohio Dive Resort',
 'Hotel Sunroute Goshogawara',
 'La Castle',
 'Radisson Blu Hotel & Spa, Cork',
 nan,
 'Hotel Miyahira',
 'Golden Shore Resort',
 'Gostinitsa Zodiak',
 nan,
 'Zhongtian Hotel',
 'Aye Chan Myaing Hotel',
 'Crowne Plaza Acapulco',
 'Beach View',
 nan,
 'Mint Hotel',
 'Onway Lake Family Resort',
 'Sea View Hotel',
 'Yalemd',
 'いわない高原ホテル',
 'Hotel Eseka Palace',
 'The Nesbitt Arms',
 nan,
 nan,
 nan,
 nan,
 'Hôtel Opémiska',
 nan,
 'Buudai Hotel',
 nan,
 nan,
 'Hotel Nalanda Ladakh',
 'Hotel Kyriad Muraya',
 'Groote Eylandt Lodge',
 'Lofoten Værøy Brygge',
 'Woodlands Inn & Suites',
 'Crown Victoria Hotel',
 'Garden Hotel',
 'Pestana Bahia Praia',
 'Hotel Akureyri',
 'Bannisters by the Sea',
 'Baykal',
 nan,
 'Malaya Gostinitsa',
 'Alpine Hotel',
 'Motel Valentina',
 'Hotel Punta Del Este',
 'Hotel Izukyu',
 'Gostinitsa',
 'Solar De Alqueva',
 'Wyndham Garden Fort Walton Beach - Destin Hotel, FL',
 'Shangri-la Hotel,Qinhuangdao',
 'Shoreline Inn & Conference C, Ascend Hotel Collection',
 'Hotel Kargasok',
 nan,
 'Radisson Blu Hotel Kayseri',
 'Hilton Quanzhou Riverside',
 'Hotel Lake Garda',
 'HomeStay Inn & Suites',
 nan,
 'Hotel Appel',
 'The Mill Casino • Hotel & RV Park',
 'Paitití Hostel',
 'Victoria Bed & Breakfast',
 'Jolysable',
 'The Harbour Inn',
 'Hotel ibis Styles Iu Namibe',
 'Westport Coast Hotel',
 'Hotel ibis Juiz de Fora',
 'Eko Hotels & Suites',
 'Oceano Hotel & Spa Half Moon Bay Harbor',
 'The Anchorage Port Stephens Hotel & Spa',
 'Last Light Lodge',
 'Mar Guesthouse',
 'Sofitel Xining',
 nan,
 nan,
 'Carrefour',
 nan,
 nan,
 'Hotel AIFA',
 'DoubleTree by Hilton Hotel Pittsburgh - Cranberry',
 'Tunka-350',
 'Cristal Palace Hotel',
 'ECO Lifestyle & Lodge',
 'Ragaray Executive Suites',
 'Radisson Blu Polar Hotel, Spitsbergen',
 'Azzaro Resorts & Ganga Spa',
 'База отдыха "Динамо" Семинский перевал',
 'Balochistan Hotel',
 nan,
 'Kirkuk Plaza Hotel',
 'Hotel Les Rochers',
 'Endless Summer Lodge - BBH',
 'Elements Of Byron Resort & Spa',
 'Manmimar Nature Lodge',
 'Hotel Croisette Beach Cannes - MGallery by Sofitel',
 'Oao "Susumanzoloto"',
 'Hotel Liebl',
 'Hotel Karysmã',
 'Hotel Royal Tocopilla',
 nan,
 'St Andrews Escape',
 'Gostinitsa V Okhotske',
 'Hotel Heilmann Lyberth',
 'Khalifa Homestay',
 'HOTEL LA ROCA',
 'Hotel Gamboa',
 nan,
 'Hotel AIFA',
 'Ban Mai Hotel',
 'Hotel',
 'Sunset Inn & Suites',
 'The Old Lodge B&B',
 'Hotel Marilu',
 'Busta House Hotel',
 'Gostinitsa Ivushka',
 'The Old Orchard Guest House',
 nan,
 'ITTIC Birjand Tourist Hotel',
 'Lees Hotel',
 'Desert Rendezvous',
 nan,
 'Warwick Doha Hotel',
 "Marriott's Ko Olina Beach Club",
 'Lorengau Harbourside Hotel',
 'Hotel Route Inn Anan',
 nan,
 nan,
 'Hotel Amazor',
 'Nanxiang Barony Hotel',
 nan,
 'Hyatt Regency Maui Resort And Spa',
 'The Old Vicarage',
 'Hotel Iruya',
 nan,
 'R&A Hotel',
 'The Monterey Hotel',
 'Muong Thanh Grand Quang Nam Hotel',
 nan,
 nan,
 'Apartment on Begicheva 24',
 nan,
 'Sierra Alisos Hotel de Campo',
 'Hotel y Restaurante El Sueño de la Campana',
 'Hotel Novotel Barcelona City',
 nan,
 'Bonville Lodge Pet Friendly B & B - Coffs Harbour',
 'Four Seasons Hotel Seoul',
 'The Plettenberg Hotel',
 'Renaissance Aruba Resort & Casino',
 'Pousada Convento de Belmonte',
 'Railway Hotel',
 'HARRIS Hotel Samarinda',
 'Hotel Zumrat',
 nan,
 'Maendeleo Parkview Hotel',
 'E-Hotel Muravlenko',
 'Hotel Ñikén Spa & Business Center',
 'Hotel Düsseldorf',
 'Hôtel Nahoui',
 'Radisson Hotel Bismarck',
 nan,
 'Kashinin Hotel Ethiopia',
 nan,
 'Romka Holiday Inn',
 nan,
 nan,
 'Hotel Hans Egede',
 nan,
 'Zhonglin International Hotel',
 nan,
 'Holiday Inn Express and Suites Havelock',
 'Hotel Indigo Traverse City',
 'HOTEL Aaktun Kay',
 'Mandal Hotel',
 'Hotel ibis Delemont Delsberg',
 'Bo Khin Guest House',
 nan,
 'Tutóia Pousada Jagatá',
 'Pousada Cores e Formas',
 'ASMOREIN HOTEL',
 'Drostdy Hotel',
 'Le Méridien Noumea Resort & Spa',
 'Ramada by Wyndham Emerald Park/Regina East',
 'les toiles maures',
 'Hotel Shimamoto',
 'Natchez Grand Hotel',
 'Quest Hotel San Denpasar',
 'Keinnara Loikaw',
 nan,
 'Sandies Tropical Village',
 'SPOT ON 65886 Hotel Lollen Palace',
 'Pousada Arte da Natureza',
 "Henry's Fork Inn",
 'Peavine Inn & Suites',
 'Hideaway Bahamas Beach Club',
 'Ulvesund FYR',
 'Hotel Kununurra',
 'Dolphin Hotel',
 'Hotel Pullman Zamzam Makkah',
 'Hotel Austral Viedma',
 'Hotel Misión San Miguel',
 nan,
 'Lancaster Inn',
 'HOTEL LOCUS',
 'Esplendor by Wyndham Mendoza',
 'Key-oh Lodge',
 'Lempäälä',
 nan,
 'Hotel Alavera',
 'Mercure Padang',
 'Hotel de Matam',
 'Best Western Plus Hôtel La Corniche',
 'Hotel Santika Palu',
 'Taverna U Dyadi Viti',
 'Tamworth Hotel',
 'Murrayshall Country House Hotel & Golf Club',
 nan,
 'Hampton Inn by Hilton Durango',
 'B&B HOTEL',
 nan,
 'Yudu Hotel']

In [19]:
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
# hotel_df.to_csv('hotel_export.csv')

,City,Country,Lat,Lng,Hotel Name
1,mahebourg,MU,-20.41,57.70,Shandrani Beachcomber Resort & Spa
2,qaanaaq,GL,77.48,-69.36,Qaanaaq Hotel
4,cape town,ZA,-33.93,18.42,Atlanticview Cape Town Boutique Hotel
5,atuona,PF,-9.80,-139.03,Hôtel Hiva Oa Hanakee Lodge
6,flinders,AU,-34.58,150.85,Lakeview Hotel Motel
...,...,...,...,...,...
541,tamworth,AU,-31.09,150.93,Tamworth Hotel
542,perth,GB,56.40,-3.43,Murrayshall Country House Hotel & Golf Club
544,paraiso,MX,24.01,-104.61,Hampton Inn by Hilton Durango
545,veraval,FR,49.65,0.71,B&B HOTEL
547,tongren,CN,27.72,109.18,Yudu Hotel

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
#Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display Map